*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Source Sans Pro';
}

input{
    border: none;
    background: transparent;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

a{
    text-decoration: none;
    color: rgb(122, 122, 126);
}

.arrow {
    border: solid;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.main{
    margin-inline: 25px;
    margin-top: 20px;
}

@media screen and (max-width: 600px)
and (orientation: portrait) {
    .main{
        margin-inline: 15px;
    }
}