.advert-page-wrapper{
    margin-inline: 80px;
}

.advert-page-info{
    background-color: #f5f5f5;
    width: 320px;
    border-radius: 15px;
}

.advert-page-title{
    font-size: 26px;
    line-height: 35px;
    padding-bottom: 20px;
}

.advert-page-info-container{
    padding: 20px;
    font-size: 18px;
    line-height: 40px;
}

.advert-page-info-container div{
    border-bottom: 2px solid #EEEEEE;
}

.advert-page-info-container span{
    font-weight: 600;
}

.advert-gallery-title-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.advert-page-description{
    overflow-wrap: break-word;
    border-radius: 20px;
    padding: 20px;
    background-color: #f5f5f5;
}

.advert-page-description-title{
    font-size: 28px;
    padding-block: 20px;
    font-weight: 600;
}

.advert-page-description-container{
    max-width: 940px;
    padding-top: 20px;
}

@media screen and (min-width: 600px)
and (max-width: 1024px) {
    .advert-page-wrapper{
        margin-inline: 30px;
    }

    .advert-page-info{
        width: 100%;
    }
    .advert-page-info-container{
        padding-bottom: 40px;
    }

    .advert-gallery-title-row{
        flex-direction: column;
        gap: 20px;
    }

    .advert-page-description-container{
        padding-top: 10px;
    }

    .advert-page-description-title{
        padding-block: 10px;
    }
}

@media screen and (max-width: 600px)
and (orientation: portrait) {
    .advert-page-wrapper{
        margin-inline: 0;
    }

    .advert-gallery-title-row{
        flex-direction: column;
        gap: 20px;
    }

    .advert-page-info{
        width: 100%;
    }

    .advert-page-description-container{
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .advert-page-description-title{
        padding-block: 10px;
    }

    .advert-page-title{
        font-size: 24px;
        line-height: 30px;
        padding-bottom: 10px;
    }

    .advert-page-info-container{
        padding: 20px;
        font-size: 16px;
        line-height: 40px;
    }

    .advert-page-info-container{
        padding-bottom: 40px;
    }
}