.adverts{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
    row-gap: 15px;
}

div{
    box-sizing: border-box;
}

.advert-info{
    border-top: 2px solid #EEEEEE;
    padding-inline: 10px;
    padding-block: 15px;
    display: flex;
    flex-direction: column;
}

.advert-card{
    aspect-ratio: 2/3;
    outline: 2px solid #EEEEEE;
    border-radius: 5px;
    overflow: hidden;
}

.advert-image{
    height: 50%;
    overflow: hidden;
}

.advert-image img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.advert-price{
    font-size: 28px;
    font-weight: 700;
    padding-bottom: 15px;
}

.advert-title{
    font-weight: 600;
}

.secondary-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(122, 122, 126);
}

