.header{
    display:flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 3;
}

.upper-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    padding-inline: 20px;
    border-bottom: solid 2px #EEEEEE;
}

.lower-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(122, 122, 126);
    height: 50px;
    border-bottom: solid 2px #EEEEEE;
}

.logo{
    font-family: 'Lato';
    font-size: 24px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.logo-icon{
    width: 50px;
    height: 50px;
}

.navigation{
    width: 100%;
    margin-right: 20px;
}

.searchbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: solid 2px #EEEEEE;
    border-radius: 35px;
    width: 100%;
    height: 35px;
}

.searchbar-vl{
    width: 1px;
    background-color: #EEEEEE;
    height: 70%;
    margin-right: 15px;
}

.location{
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    width: max-content;
    color: rgb(185, 185, 195);
}

.location-icon{
    font-size: 13px;
}

.search-icon{
    font-size: 13px;
}

.search-window{
    height: 100%;
    width: 100%;
    font-family: 'Source Sans Pro';
    font-size: 1rem;
}

.category{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7px;
    padding-left: 30px;
}

.category-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 10px;
    gap: 7px;
    font-family: inherit;
    color: inherit;
    font-size: 1rem;
    background: transparent;
    border: none;
}

.category-arrow{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #575757;
}

.category-arrow:hover{
    color: #2f2f2f;
}

.category:hover .category-drpdwn{
    display: flex;
}

.vl{
    height: 1.5em;
    width: 0;
    border: solid 1px rgb(118, 118, 122) ;
    border-radius: 9999px;
    margin-inline: 15px;
}

.featured{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.create-advert{
    background-color: rgb(0, 126, 251);
    border-radius: 40px;
    overflow: hidden;
}

.create-advert-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    gap: 0.5em;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    color: white;
    border: none;
    background: none;
    width: max-content;
    padding-inline: 20px;
}

.search{
    background-color: rgb(0, 126, 251);
    border-radius: 9999px;
    overflow: hidden;
    min-width: 100px;
    border: 2px solid white;
    height: 100%;
}

.search-btn{
    color: white;
    display: flex;
    line-height: 0;
    flex-direction: row;
    border: none;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    background: none;
}

.actionbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

.signin{
    border-radius: 40px;
    outline: 1px solid rgb(0, 126, 251);
    overflow: hidden;
}

.signin-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    gap: 0.5em;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    color: rgb(0, 126, 251);
    border: none;
    background: none;
    width: max-content;
    padding-inline: 20px;
}